*{
    margin: 0;
    padding: 0;
    color: #22322F;
    font-family: sans-serif;
}
.container{
    width: 1180px;
    margin: 0 auto;

    
}
nav{
    margin-top: 30px;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar ul{
    display: flex;
    list-style: none;
    gap: 40px;
    
}
.navbar a{
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    transition: 0.3s;
}
.navbar a:hover{
    font-weight: 700;
    color: #71A89E;
    font-size: 25px;
}


.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.text h1{
    font-weight: 400;
    font-size: 48px;
    line-height: 72px;
}
.text p{
    font-size: 24px;
    line-height: 32px;
    margin: 24px 0;
}
button{
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    padding: 20px 22px;
    background: #71A89E;
    border-radius: 8px;
}

